@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");


:root {
    --cor-de-fundo: #e4b7e0;
    --branco: #FFFFFF;
    --laranja: #000000;
    --azul-degrade: linear-gradient(97.54deg, #e4bece 35.49%, #f1d7e6 165.37%);
    --fonte-principal: "Poppins";
    --azul: #52004e;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}